*{ box-sizing: border-box;} 
*::before, *::after {
    box-sizing: inherit;
}

:root {
 --text-color: #5F564D;
}
h2, ul, h1, ol, p, hr, body
{
    margin: 0;}
body {
    background-color:#F3E5D7;
    padding-block-start: 128px;
    padding-block-end: 128px;
}
main {
    max-width: 736px;
    padding: 40px;
    margin-block-start: 128px;
    margin-block-end: 128px ;
    margin: auto;
    border-radius:24px;
    background: #FFF;
}
img {
    width: 100%;
    border-radius: 12px;   
}   
h1 {
    color: #312E2C;
    font-family: "Young Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    padding-block-end: 24px;
}
hgroup {
    margin-block-start: 40px;
    }
.preparation {    
    border-radius:12px ;
    background: #FFF7FB;
    padding: 24px;
}
.time {
    color: #7A284E;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    margin-block-end: 16px;
}
h2 {
    color: #854632;
    font-family: "Young Serif";
    font-size:28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-block-end: 24px;
}
span {
    font-weight: 700;
}
p, li, th {
    color: var(--text-color);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  24px; }
ul {
    list-style: none;
    padding: 0;
    padding-inline-start: 8px;
}
ul li {
    padding-inline-start: 32px;
    position: relative;
    padding-block-end: 8px;}
ul li::before {
    content: "";
    width: 16px;
    height: 24px;
    display: block;
    position: absolute;
    background-image: url(./assets/images/check_2.svg);
    background-repeat: no-repeat;
    left: 0;
}

ol {
    
    padding: 0;
    padding-inline-start: 24px;}
ol li {
    padding-inline-start: 16px;
    padding-block-end: 8px;
    
}
ol li::marker {
    color: #854632;
    font-family: Outfit;
    font-size:16px;
    font-style: normal;
    font-weight: 700;
    line-height:24px;
}
hr {
    color: #E3DDD7;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td {
    padding: 0;
    width: 50%;
    padding-block-start: 12px;
}
th {
    text-align: start;
    padding-inline-start: 32px;
}
td {
    padding-inline-start: 8px;
    color: #854632;
    font-family: Outfit;
    font-size:16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
tr:not(:last-child) th, tr:not(:last-child) td {
    border-bottom: 1px solid #E3DDD7 ;
    padding-block-end: 12px;
}
.values{
    margin-block-end: 24px;
}